---
import { getCollection } from "astro:content"
import LogGridItem from "./LogGridItem.astro"
import { compareDesc } from "date-fns"
import "../styles/global.css"

let allLogs = await getCollection("logs") ?? []
allLogs.sort((a, b) => compareDesc(a.data.date, b.data.date))
const contentCount = allLogs.length

console.log("damn")
---

<style>
    section.logs h3 {
        margin-top: 32px;
        padding-top: 32px !important;
        font-size: 32px;
        font-family: var(--font-main-700)
    }

    section.logs h3 a {
        text-decoration: none !important;
    }

    section.logs p.sub {
        font-size: 24px !important;
        margin: 32px 0px 64px 0px;
        line-height: 32px;
        font-family: var(--font-main-700);
        color: var(--neutral-500);
    }

    section.blog-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        row-gap: 0px;
        margin-top: 32px;
    }

    @media screen and (max-width: 800px) {
        section.blog-grid {
            grid-template-columns: repeat(1, 1fr) !important;
            column-gap: 0px;
            row-gap: 32px;
        }
    }
</style>

<section class="logs">
    <div class="container">
        <h3 id="logs"><a href="#logs">Logs ({contentCount})</a></h3>
        <p class="sub">Writings and other ramblings you may find interesting.</p>
        <section class="blog-grid">
           {
            allLogs.map((log) => <LogGridItem 
                    title={log.data.title} 
                    description={log.data.description}
                    banner={log.data.banner}
                    date={log.data.date}
                />)
           }
        </section>
    </div>
</section>